header{
 background-color: #a3cdf0;
 font-family: "Montserrat", sans-serif;
 height: 123px;
}

a{
font-size: 24pt;
text-decoration: none;
color: #0a0301;
}

h1{
   font-family: "Montserrat", sans-serif;
   color: #0a0301;
   font-size: 48pt;
}

table{
  width: 1108px;
  height: 494px;
  background-color: #278981;
  font-family: "Montserrat", sans-serif;
  color: #0a0301;
  border: 1px solid #05f1f0;
  border-collapse: collapse;
  border-spacing: 0;
}

th{
  font-size: 24pt;
  border: 1px solid #05f1f0;
  text-align: center;
}

td{
  font-size: 18pt;
  border: 1px solid #05f1f0;
  text-align: center;
}

footer{
  background-color: #a3cdf0;
  font-family: "Montserrat", sans-serif;
  color: #0a0301;
  height: 123px;
}

.facebook{
  width: 59px;
  height: 57px;
}

.github{
  width: 59px;
  height: 57px;
}
