body{
  margin: 0;
}

.header{
 background-color: #a3cdf0;
 font-family: "Montserrat", sans-serif;
 height: 123px;
 box-sizing: border-box;
 display: flex;
 justify-content: space-between;
}

.logo{
  margin: 0;
  padding: 10px 20px;
}

.menu{
  margin: 20px 20px;
}

ol{
  display: flex;
  list-style: none;
}

a{
font-size: 24pt;
text-decoration: none;
color: #0a0301;
margin: 10px;
}

h1{
   font-family: "Montserrat", sans-serif;
   color: #0a0301;
   font-size: 48pt;
   text-align: center;
}

table{
  width: 1108px;
  height: 494px;
  /* background-color: #278981; */
  font-family: "Montserrat", sans-serif;
  color: #0a0301;
  border: 1px solid #1B1F26;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

th{
  font-size: 24pt;
  border: 1px solid #1B1F26;
  text-align: center;
}

td{
  font-size: 18pt;
  border: 1px solid #1B1F26;
  text-align: center;
}

.hora{
 background-color:#1FD155;
}

.lunes{
  background-color:#35D164;
}

.martes{
  background-color:#2CDEC6;
}

.miercoles{
  background-color:#4953D1;
}

.jueves{
  background-color:#D1881F;
}

.viernes{
    background-color:#D1AE2A;
}

.sabado{
  background-color:#850807;
}

.domingo{
  background-color:#D76B9E;
}

footer{
  background-color: #a3cdf0;
  font-family: "Montserrat", sans-serif;
  color: #0a0301;
  height: 123px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.contacto{
  margin-left: 20px;
}

.agradecimientos{
  margin-right: 20px;
}

.facebook{
  width: 50px;
  height: 45px;
}

.github{
  width: 50px;
  height: 45px;
}
